<a href="https://colab.research.google.com/github/Jinzhao-Yu/BioStat615/blob/main/BIOSTAT615_Lecture_2_Fall_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BIOSTAT615 Lecture 2

## 1. Examples of relative errors

In [1]:
## aren't the two below the same?
20.55 - 19.2 - 1.35
20.55 - 1.35 - 19.2

[1] 1.332268e-15

[1] 0

In [2]:
## double.neg.eps is the smallest number that satisfies 1 - x != 1
print(.Machine$double.neg.eps)

[1] 1.110223e-16

In [3]:
print(1 - .Machine$double.neg.eps, digits = 20)

[1] 0.99999999999999988898

In [4]:
print(1 - .Machine$double.neg.eps * 2, digits = 20)

[1] 0.99999999999999977796

In [5]:
print(1 - .Machine$double.neg.eps / 2, digits = 20)

[1] 1

## 2. Effect of order of addition

In [6]:
## repeat three numbers 10M times in different orders
y1 = rep(c(1.35,19.2,-20.55),length = 3e7)
y2 = rep(c(1.35,19.2,-20.55),each = 1e7)
head(cbind(y1,y2))

     y1     y2
[1,]   1.35 1.35
[2,]  19.20 1.35
[3,] -20.55 1.35
[4,]   1.35 1.35
[5,]  19.20 1.35
[6,] -20.55 1.35

In [7]:
## use matrix operation for summation with interlaced order
print(as.numeric(y1%*%rep(1,length=3e7)),digits=20)

[1] 0

In [8]:
## use sum() function for summation with interlaced order
print(sum(y1),digits=20)

[1] -1.3322676295501878485e-08

In [9]:
## use matrix operation for summation with clustered order
print(as.numeric(y2%*%rep(1,length=3e7)),digits=20)

[1] 0.014846327731135033901

In [10]:
## use sum() function for summation with clustered order
print(sum(y2),digits=20)

[1] -3.6045216354807507741e-05

**Question** Can you explain why the clustered order show higher relative errors than the interlaced order?

## 3. Basic quadratic solver

In [ ]:
## quadratic function
##   evaluates f(x) = b0 + b1*x + b2*x*x
##   this function will be used to evaluate quadratic solution
quadratic.fun = function(x,b2,b1,b0) {
  y = x*b2 + b1
  y = y*x + b0
  return(y)
}

In [ ]:
## naive quadratic solver
quadratic.solve.1 = function (b2 , b1 , b0) {
  t1 = sqrt (b1 ^2 - 4 * b2 * b0)
  t2 = 2 * b2
  x1 = - (b1 + t1) / t2
  x2 = - (b1 - t1) / t2
  return (c(x1 , x2))
}

In [ ]:
## test - solve f(x) = (x-1)(x-2) = x*x - 3*x + 2 = 0
b2 = 1; b1 = -3; b0 = 2 ## (x-1)(x-2)=0
## solve the equation and save it to x1 
print(x1 <- quadratic.solve.1(b2,b1,b0))

In [ ]:
## verify the solution
print(quadratic.fun(x1,b2,b1,b0))

## 4. Corner cases for naive quadratic solver

In [ ]:
b2 = 1234567890123
b1 = -11111111103333
b0 = 9876543213210
## b0 + b1 + b2 == 0 means x=1 is a solution
## because b0 + b1*x + b2*x*x == 0
print(b0 + b1 + b2)

In [ ]:
## run the naive solver
print(x1 <- quadratic.solve.1(b2,b1,b0),digits=20)
## do you see x=1 as a solution?

In [ ]:
## verify the solution
print(quadratic.fun(x1,b2,b1,b0))
## what do you expect to see?

In [ ]:
## verify the solution
print(quadratic.fun(1,b2,b1,b0))
## what do you expect to see?

## 5. A better quadratic solver?

In [ ]:
## a better quadratic solver?
quadratic.solve.2 = function (b2 , b1 , b0) {
  delta = sqrt (b1 ^2 - 4 * b2 * b0)
  x1 = ifelse(b1 > 0, (- b1 - delta)/(2*b2), (-b1+delta)/(2*b2) )
  x2 = b0/(b2*x1)
  return (c(x1 , x2))
}

In [ ]:
## run the naive solver
print(x1 <- quadratic.solve.2(b2,b1,b0), digits=20)
## verify the solution
print(quadratic.fun(x1,b2,b1,b0))
## what does the results mean??

## 6. Trickier examples for quadratic solver

In [ ]:
b0 = 1
b1 = -1234567890
b2 = 1
print(x1 <- quadratic.solve.1(b2,b1,b0),digits=20)
## verify the solution
print(quadratic.fun(x1,b2,b1,b0))

In [ ]:
print(x2 <- quadratic.solve.2(b2,b1,b0),digits=20)
## verify the solution
print(quadratic.fun(x2,b2,b1,b0))
print(sort(x1)-sort(x2),digits=20)

Based on these results, can you justify which solver is better than the other?

## 7. Reading from a file stream

Consider a situation where the input data is read via _streaming_. 

Instead of storing the data into memory, each value was read individually and deleted from the memory afterwards.

This activity is typically done when reading from a large file (without blowing up the memory). 

We will create a file, using `system()` function and `seq` UNIX command.

In [ ]:
## You can use system() to run arbitrary code.
## Note that this command may not work if you run locally in Windows OS

## run command "seq 0 5" in the server and store its output into a file named "seq.0_5.txt"
system("seq 0 5 > seq.0_5.txt")

## run command "seq 100 105" in the server and store its output into a file named "seq.100_105.txt"
system("seq 100 105 > seq.100_105.txt")

In [ ]:
## Examine the contents of the file "seq.0_5.txt"
x = read.table("seq.0_5.txt")
print(x)

In [ ]:
## Examine the contents of the file "seq.0_5.txt"
x = read.table("seq.100_105.txt")
print(x)

You can create a file handle using `file()` function

You can read from a file handle line by line using `readLines()` function

In [ ]:
## create a file handle
fs = file("seq.100_105.txt","rt")

## read one line
readLines(fs,n=1)

In [ ]:
## read another line subsequently
readLines(fs,n=1)

We will define a function `read.a.double()`, which read one line from a filehandle and returns a numeric value.

In [ ]:
#' Read one line from a file handle and returns a numeric number
#' @param con - Input file handle
#' @return one numeric value from a single line of filehandle
#'         or NULL if reached EOF (i.e. end-of-file)
read.a.double = function (con) {
  x <- readLines(con,n=1) ## read one line
  if ( length(x) == 0 ) { ## if empty, return NULL
    return(NULL)
  } else { ## otherwise, parse to numeric
    return(as.double(x))
  }
}

In [ ]:
fs = file("seq.100_105.txt","rt")
read.a.double(fs)

In [ ]:
read.a.double(fs)

## 8. Calculating average from a stream

In [ ]:
## create more example files, ~1M lines each.
system("seq 0 1000000 > seq.0_1000000.txt")
system("seq 100000000 101000000 > seq.100000000_101000000.txt")

In [ ]:
#' Calculate average from a file stream
#' @param fs - file handle
#' @return the average across all input lines, streaming one line at a time
streamed.avg = function(fs) {
  n.x = 0     ## number of observations
  sum.x = 0   ## sum of all values
  while(!is.null(x <- read.a.double(fs))) {
    n.x = n.x + 1
    sum.x = sum.x + x 
  }
  close(fs)
  return(sum.x/n.x)
}

In [ ]:
## calculate a mean of 0, 1, ..., 1000000
f = file("seq.0_1000000.txt","rt")
print(streamed.avg(f), digits=20)

## 9. One-pass algorithm for variance

In [ ]:
#' one pass algorithm to calculate mean and variance
#' @param fs - input file stream
#' @return A list containing two atributes
#'    * avg - average across all observations
#'    * sd - sample standard deviation across all observations
one.pass.avg.sd = function(fs) {
  n.x = 0     # number of observations
  sum.x = 0   # sum of observations
  ssq.x = 0   # sum of squares of observations
  while(!is.null(x <- read.a.double(fs))) {
    n.x = n.x + 1
    sum.x = sum.x + x
    ssq.x = ssq.x + x*x
  }
  ## returns the output
  avg.x = sum.x / n.x
  var.x = (ssq.x - sum.x * sum.x / n.x)/(n.x - 1)
  return(list(avg=avg.x,sd=sqrt(var.x)))
}

In [ ]:
## Take the first example file and calculate mean/sd
f = file("seq.0_1000000.txt","rt")
print(one.pass.avg.sd(f), digits=20)
close(f)

In [ ]:
## Take the second example file and calculate mean/sd
f = file("seq.100000000_101000000.txt","rt") 
print(one.pass.avg.sd(f), digits=20)
close(f)

Are the two standard deviations the above examples the same? If not, why?

In [ ]:
## sanity checking - does the same thing happens with the standard sd() function
print(sd(0:1000000),digits=20)
print(sd(100000000:101000000),digits=20)

## 10. West algorithm

In [ ]:
#' west algorithm to calculate mean and variance
#' @param fs - input file stream
#' @return A list containing two atributes
#'    * avg - average across all observations
#'    * sd - sample standard deviation across all observations
west.avg.sd = function(fs) {
  n.x = 0
  avg.x = 0
  var.x = 0
  while(!is.null(x <- read.a.double(f))) {
    n.x = n.x + 1
    x.diff = (x - avg.x)
    var.x = var.x + (n.x-1) / n.x * x.diff * x.diff
    avg.x = avg.x + x.diff / n.x
  }
  var.x = var.x/(n.x - 1)
  return(list(avg=avg.x,sd=sqrt(var.x)))
}

In [ ]:
## Take the first example file and calculate mean/sd
f = file("seq.0_1000000.txt","rt") 
print(west.avg.sd(f), digits=20)
close(f)

In [ ]:
## Take the second example file and calculate mean/sd
f = file("seq.100000000_101000000.txt","rt") 
print(west.avg.sd(f), digits=20)
close(f)